body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Sogoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #555555;
}

.fofx-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fofx-body-and-menu {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.fofx-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  flex: 1 0 auto;
  transition: flex 0.25s ease-out;
}

.fofx-tiles {
  position: relative;
  /*
  bottom: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: fit-content;
  max-width: 960px;
  grid-auto-rows: 200px;
  min-height: 200%;
  */
  /*
  max-width: 75vw;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  max-width: 75vw;
  flex-wrap: wrap;
  max-width: 75vw;
  */
  display: flex;
  margin-left: 0.5rem;
  width: 100%;
}

.fofx-tile {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  background-color: white;
  border: 1px solid #55555555;
  margin-right: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.fofx-tile::before, .fofx-footer-content::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  opacity: 0.1;
  background-image: var(--bg-img);
}

.fofx-footer-content::before {
  z-index: -1;
}

.fofx-tile:hover {
  color: black;
}

.fofx-tile:hover:before {
  opacity: 0.125;
}

.fofx-footer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  margin-top: 0.5rem;
}

.fofx-footer-content {
  position: relative;
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  width: 100%;
}

.fofx-footer-content > div {
  padding: 0 1em;
  border-right: 1px solid #555555;
}

.fofx-footer-content > div:last-child {
  border-right: 0;
}

.fofx-nav-bar {
  background-color: white;
  top: 0;
  width: 100vw;
  position: sticky;
  display: flex;
  border-bottom: 1px solid #55555555;
  z-index: 1;
}

.fofx-nav-link {
  margin: 0 1rem 0 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #555555;
  min-width: 0;
  overflow: hidden;
}

.fofx-nav-link:hover {
  color: black;
}

.fofx-menu-button {
  font-size: 2rem;
  padding-right: 1rem;
  display: none;
  justify-content: right;
  align-items: center;
}

i.fofx-close-menu {
  display: none;
}

.fofx-menu-open i.fofx-close-menu {
  display: block;
}

.fofx-menu-open .fofx-open-menu {
  display: none;
}

.fofx-menu-button:hover {
  cursor: pointer;
}

.fofx-with-cover-img .fofx-nav-bar {
  margin-bottom: 0;
}

.fofx-with-cover-img .fofx-body {
  padding-top: 0;
}

.fofx-cursive {
  font-family: "Apple Chancery", "Lucida Calligraphy", cursive;
}

.fofx-brand {
  font-size: 2rem;
  padding: 1rem;
  padding-right: 2rem;
  display: block;
  color: inherit;
}

.fofx-cover-img {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  position: relative;
}

.fofx-cover-img > img {
  display: block;
  width: 100%;
}

.fofx-carousel-text {
  padding: 2rem;
  color: white;
  text-shadow: #000 0px 0px 2px;
  font-size: 3rem;
}
.fofx-carousel-text > :first-of-type {
  font-size: 4rem;
}

@media screen and (max-width: 879px) {
  .fofx-tiles {
    flex-wrap: wrap;
    margin-left: 0;
  }
  .fofx-footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }
  .fofx-footer-content > div {
    border: 0;
  }
  .fofx-tile {
    margin-right: 0;
    margin-bottom: 0.5rem;
    padding: 1rem;
  }
  .fofx-tile:last-child {
    margin-bottom: 0;
  }
  div.fofx-bottom {
    padding: 0.5rem;
  }
  div.fofx-top {
    height: auto;
  }
  .fofx-carousel-text {
    font-size: 2rem;
  }
  .fofx-carousel-text > :first-of-type {
    font-size: 3rem;
  }
  .fofx-menu-button {
    display: flex;
  }
  .fofx-nav-bar .fofx-nav-link {
    display: none;
  }
  .fofx-brand {
    flex-grow: 1;
  }
}

.fofx-tagline {
  font-size: 1.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.fofx-tagline-frame {
  border-bottom: 1px solid #555555;
  height: 0;
  margin: 0 1rem;
  flex-grow: 1;
}

.fofx-block-list {
  border-collapse: collapse;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.fofx-block-list td {
  height: 100%;
  padding: 0;
  padding-bottom: 0.25rem;
  position: relative;
}

.fofx-block-list td > div {
  border: 1px solid #555555;
  border-left: 0;
  height: 100%;
  border-radius: 0px;
  box-sizing: border-box;
}

.fofx-block-list td > div > a {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.fofx-block-list td:first-child > div {
  padding: 1rem;
  border-left: 1px solid #555555;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.fofx-block-list td:last-child > div {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

a {
  text-decoration: none;
}

.fofx-site-menu {
  position: fixed;
  top: 0;
  left: 100vw;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transition: flex 0.25s;
  transition: left 0.25s;
  border-left: 1px solid #55555555;
  white-space: nowrap;
  background: white;
  z-index: 2;
}

.fofx-site-menu > :nth-child(1) {
  display: flex;
  border-bottom: 1px solid #55555555;
  position: sticky;
  top: 0;
}

.fofx-site-menu > :nth-child(2) {
  padding: 1rem;
}

.fofx-menu-open .fofx-site-menu {
  left: 0;
}

.fofx-menu-open .fofx-body {
  flex-shrink: 1;
}

.fofx-center {
  text-align: center;
}

.directory-listing .directory-listing-item {
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  /*
  border-bottom: 1px solid #55555555;
  border-radius: 0.5rem;
  */
  color: #555555;
}

.directory-listing-item:hover {
  color: black;
}

.fofx-body > div {
  display: flex;
  justify-content: center;
}

.fofx-page-header {
  font-size: 4rem;
  padding: 1rem;
  box-sizing: border-box;
  width: 100vw;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  position: relative;
}

.fofx-page-header::before {
  z-index: -1;
  vertical-align: middle;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  background-image: var(--bg-img);
  background-size: cover;
  opacity: 0.1;
}

.fofx-content {
  margin: 1rem 4rem;
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  */
  line-height: 1.5rem;
}

.fofx-top {
  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
}

.fofx-top > :nth-child(2) {
  /*flex-grow: 1;
  overflow: hidden;*/
}

.fofx-bottom {
  justify-content: center;
  display: flex;
  position: relative;
  padding: 0.5rem 0;
}

.fofx-carousel > div {
  height: 100%;
  background-size: cover;
  background-position: bottom;
  position: relative;
  padding: 4rem 0;
}

.fofx-content :first-child {
  margin-top: 0;
}

.fofx-content :last-child {
  margin-bottom: 0;
}
