body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Sogoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #555555;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.img-block {
  width: 100%;
  height 100%;
  display: block;
}

.action-tiles {
  display: flex;
  justify-content: center;
}

.action-tiles > div {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.action-tiles a {
  border: 1px solid #555555;
  width: 200px;
  height: 200px;
  margin: 20px;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.action-tiles a:hover {
  background-color: #eeeeeeee;
  cursor: pointer;
}

.footer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem 0;
}

.title-bar {
  top: 0;
  z-index: 1;
  width: 100vw;
}

.title-bar-fixed {
  background-color: #ffffffbb;
  position: fixed;
}

.title-bar-sticky {
  position: sticky;
  background-color: #212529;
  color: #ffffff;
}

.title-bar-dark {
  background-color: #343a40;
  color: white;
}

.cursive {
  font-family: "Apple Chancery", "Lucida Calligraphy", cursive;
}

.brand {
  font-size: 2rem;
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: inherit;
}

.cover-img {
  width: 100vw;
  max-height: 75vh;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.cover-img > img {
  display: block;
  width: 100%;
}

.tagline {
  padding: 1rem 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.tagline-frame {
  border-bottom: 1px solid #555555;
  height: 0;
  margin: 0 1rem;
  flex-grow: 1;
}

