body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Sogoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #555555;
}

:root {
  --bg-img: url("../img/flag.webp");
}

#fofx-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.fofx-body-and-menu {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.fofx-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  flex: 1 0 auto;
  transition: flex 0.25s ease-out;
}

.fofx-tiles {
  display: flex;
  justify-content: center;
  max-width: 960px;
  flex-wrap: wrap;
}

.fofx-tiles a {
  position: relative;
  /*border: 1px solid #555555;*/
  width: 200px;
  height: 200px;
  margin: 20px;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.fofx-tiles .fofx-bg-span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  opacity: 0.1;
  border-radius: 0.5em;
  background-image: var(--bg-img);
}

.fofx-tiles a:hover {
  background-color: #eeeeeeee;
  cursor: pointer;
}

.fofx-footer {
  flex-grow: 1;
  align-items: flex-end;
  padding: 1rem 0;
}

.fofx-footer > div {
  padding: 0 1em;
  border-right: 1px solid #555555;
}

.fofx-footer > div:last-child {
  border-right: 0;
}

.fofx-title-bar {
  top: 0;
  width: 100vw;
  position: sticky;
  /* color: #555555;*/
  display: flex;
  border-bottom: 1px solid #55555555;
}

.fofx-title-bar .fofx-nav-item {
  margin: 0 1rem 0 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #555555;
  min-width: 0;
  overflow: hidden;
}

@media only screen and (max-width: 999px) {
  .fofx-title-bar .fofx-nav-item {
    display: none;
  }
}

.fofx-menu-button {
  font-size: 2rem;
  padding: 1rem;
}

@media only screen and (min-width: 1000px) {
  .fofx-menu-button {
    display: none;
  }
}

.fofx-title-bar-middle {
  flex-grow: 1;
}

i.fofx-close-menu {
  display: none;
}

.fofx-menu-open i.fofx-close-menu {
  display: inline-block;
}

.fofx-menu-open .fofx-open-menu {
  display: none;
}

.fofx-menu-button:hover {
  cursor: pointer;
}

.fofx-with-cover-img .fofx-title-bar {
  margin-bottom: 0;
}

.fofx-with-cover-img .fofx-body {
  padding-top: 0;
}

.fofx-cursive {
  font-family: "Apple Chancery", "Lucida Calligraphy", cursive;
}

.fofx-brand {
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  color: inherit;
}

.fofx-cover-img {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  position: relative;
}

.fofx-cover-img > img {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  .fofx-cover-img {
    align-items: flex-end;
    max-height: 75vh;
  }
  .fofx-cover-img > div {
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    text-shadow: #000 0px 0px 2px;
  }
  .fofx-cover-img > div > div {
    font-size: 3rem;
  }
  .fofx-cover-img > div > :first-of-type {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 749px) {
  .fofx-cover-img {
    flex-direction: column;
  }
  .fofx-cover-img > div {
    padding: 1rem;
    text-align: center;
    position: relative;
  }
  .fofx-cover-img > div > div {
    font-size: 1.5rem;
  }
  .fofx-cover-img > div > :first-of-type {
    font-size: 3rem;
  }
  .fofx-cover-img > div::before {
    z-index: -1;
    vertical-align: middle;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    background-image: var(--bg-img);
    background-size: cover;
    opacity: 0.1;
  }
}

.fofx-tagline {
  font-size: 1.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.fofx-tagline-frame {
  border-bottom: 1px solid #555555;
  height: 0;
  margin: 0 1rem;
  flex-grow: 1;
}

.fofx-block-list {
  border-collapse: collapse;
  height: 100%;
}

.fofx-block-list td {
  height: 100%;
  padding: 0;
  padding-bottom: 0.25rem;
  position: relative;
}

.fofx-block-list td > div {
  border: 1px solid #555555;
  border-left: 0;
  height: 100%;
  border-radius: 0px;
  box-sizing: border-box;
}

.fofx-block-list td > div > a {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.fofx-block-list td:first-child > div {
  padding: 1rem;
  border-left: 1px solid #555555;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.fofx-block-list td:last-child > div {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.fofx-font-2 {
  font-size: 2em;
}

.fofx-font-1-5 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

.fofx-site-menu {
  flex: 0 1 0;
  padding: 2rem;
  box-sizing: border-box;
  transition: flex 0.25s;
  border-left: 1px solid #55555555;
  white-space: nowrap;
}

.fofx-menu-open .fofx-site-menu {
  flex: 1 0 auto;
}

.fofx-menu-open .fofx-body {
  flex-shrink: 1;
}

.fofx-center {
  text-align: center;
}

.directory-listing .directory-listing-item {
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #55555555;
  border-radius: 0.5rem;
  color: #555555;
}

.fofx-body > div {
  display: flex;
  justify-content: center;
}

.fofx-page-header {
  font-size: 4rem;
  padding: 1rem;
  width: 100vw;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  position: relative;
}

.fofx-page-header::before {
  z-index: -1;
  vertical-align: middle;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  background-image: var(--bg-img);
  background-size: cover;
  opacity: 0.1;
}

.fofx-content {
  margin-left: 4rem;
  margin-right: 4rem;
}
